@media only screen and (max-width: 700px) {
    /*-------- APP ---------------*/
    #footer {
        padding: 5px 15px!important;
    }
    /* ------- CADASTRO ---------------*/
    #formCadastro {
        width: 97vw !important;
        padding: 100px 5px 20px !important;
    }
    #formCad {
        width: 90vw !important;
        padding: 2em 1.4em !important;
    }
    /* ---------- HOME ----------------*/
    .frase {
        font-size: 1em;
    }
    .saldo {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .saldo img {
        width: 80%;
    }
    /* ---------- PLANILHAS ----------------*/
    .filtros {
        flex-wrap: wrap;
    }
    .filtros select {
        width: 48%;
    }
    #buscaNome {
        width: 100%;
        margin-top: 10px;
    }
    /* ---------------- MENU --------------*/
    #menu {
        width: 100vw;
        background: red;
    }
}